<div class="container-fluid">
  <div class="welcome-form">
    <h3 style="margin-bottom: 0">Hello, Lekan</h3>
    <p style="color: #757575">Have a nice day</p>
  </div>
  <div class="user-details">
    <i class="icon bi bi-bell-fill h4"></i>
    <i
      class="icon bi bi-circle-fill h1"
      style="border-left: 2px solid #bfbfbf; padding-left: 10px; color: #bfbfbf"
    ></i>
    <div class="d-flex flex-column">
      <div class="user-name">Lekan Okeowo</div>
      <div class="user-role">Admin</div>
    </div>
    <i class="icon bi bi-chevron-down"></i>
  </div>
</div>
