<div class="container-fluid" *ngIf="user != undefined">
  <div class="welcome-form">
    <h3 class="mb-0 fs-20">Hello, {{ user.email }}</h3>
    <p class="header-descp">Have a nice day</p>
  </div>
  <div class="user-details">
    <i class="icon bi bi-bell-fill"></i>
    <i class="icon bi bi-circle-fill"></i>
    <div class="d-flex flex-column">
      <div class="user-name">{{ user.email }}</div>
      <div class="user-role">{{ user.roles }}</div>
    </div>
    <div class="dropdown">
      <a
        class="btn dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <!-- <i class="icon bi bi-chevron-down"></i> -->
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
