<div class="container-fluid">
  <p class="user-header fw-bold">Users Dashboad</p>

  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <input
        type="text"
        class="text-search"
        placeholder="Search"
        #queryText
        (change)="onSearch(queryText.value)"
      />
      <!-- <button
        type="button"
        class="btn btn-primary ms-3"
        (click)="onSearch(queryText.value)"
      >
        Search
      </button> -->
    </div>
    <div class="d-flex">
      <app-add-user></app-add-user>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="height: 45px"
        >
          Sort by
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" (click)="sort('Name', 'asc')">ASC</a>
          <a class="dropdown-item" (click)="sort('Name', 'desc')">DESC</a>
        </div>
      </div>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="height: 45px"
        >
          Saved search
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <!-- <a class="dropdown-item" (click)="sort('Name', 'asc')">ASC</a>
          <a class="dropdown-item" (click)="sort('Name', 'desc')">DESC</a> -->
        </div>
        <i class="bi bi-sliders"></i>
      </div>
    </div>
  </div>

  <router-outlet *ngIf="users$ | async as users">
    <table class="table mt-3 bdr">
      <thead>
        <tr>
          <th colspan="5" class="table-header text-start h5 p-3">List Users</th>
        </tr>
        <tr class="table-category">
          <th colspan="2" class="text-start ps-4">Name</th>
          <th>Create Date</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users.dataSource" class="">
          <td class="table-name">
            <div class="d-flex flex-column m-0 p-0 text-start">
              <p class="table-username p-0 m-0">
                {{ user.firstName }} {{ user.lastName }}
              </p>
              <p class="table-email p-0 m-0">
                {{ user.email }}
              </p>
            </div>
          </td>
          <td
            class="table-permission align-content-center text-center justify-content-center"
          >
            <p class="blue-border">{{ user.permissions[0].permissionName }}</p>
          </td>
          <td class="table-date align-content-center justify-content-center">
            <p class="m-auto align-items-center">{{ user.createdDate }}</p>
          </td>
          <td class="table-date align-content-center justify-content-center">
            {{ user.role.roleName }}
          </td>
          <td class="align-content-center justify-content-center">
            <!--  -->
            <app-edit-user
              [id]="user.userId"
              style="color: #8f9bb3"
            ></app-edit-user>
            &nbsp;
            <i
              class="bi bi-trash"
              style="color: #8f9bb3"
              data-bs-toggle="modal"
              data-bs-target="#DeleteModal"
              
            ></i>
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div
              class="modal fade"
              id="DeleteModal"
              tabindex="-1"
              aria-labelledby="DeleteModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="DeleteModalLabel">
                      Delete User
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-start">Do you want to delete user?</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete(user.userId)">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </router-outlet>
  <div class="d-flex justify-content-center align-items-baseline">
    <p>Items per page:</p>
    <select
      [(ngModel)]="pageSize"
      (change)="onPageSizeChange()"
      class="form-select"
      style="width: 75px; height: 40px"
    >
      <option value="1">1</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="100">100</option>
    </select>

    <div class="mx-3">
      <span>
        {{ (pageNumber - 1) * pageSize + 1 }} -
        {{
          pageNumber * pageSize > totalCount
            ? totalCount
            : pageNumber * pageSize
        }}
        of {{ totalCount }}
      </span>
    </div>
    <div class="">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="btn" (click)="getPrevPage()"
              ><i class="bi bi-arrow-left"></i
            ></a>
          </li>
          <li class="page-item">
            <a class="btn" (click)="getNextPage()"
              ><i class="bi bi-arrow-right"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
