<div class="container">
  <h1 class="mt-3">User Dashboad</h1>

  <div class="d-flex justify-content-between mt-3">
    <div class="d-flex">
      <input type="text" class="form-control" #queryText>
      <button type="button" class="btn btn-warning ms-3" (click)="onSearch(queryText.value)">Search</button>
    </div>
    <div class="d-flex ">
      <a (click)="sort('Name','asc')">Asc</a>
      <a (click)="sort('Name','desc')">DESC</a>
    </div>


    <app-add-user></app-add-user>
  </div>

  <router-outlet *ngIf="users$ | async as users">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Name</th>
          <th>Create Date</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users.dataSource">
          <td>{{ user.firstName }} {{ user.lastName }} {{ user.email }} {{ user.permissions[0].permissionName}}</td>
          <td>{{ user.createdDate }}</td>
          <td>{{ user.role.roleName }}</td>
          <td>
            <app-edit-user [id]="user.userId"></app-edit-user>
            <button class="btn btn-danger" (click)="onDelete(user.userId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </router-outlet>
</div>
